Repository JoShMiQueL/memoryprocess, changes with the labels that .github/labeler.yml gives for each.
All labels: typescript, native, documentation, tests, examples, build, dependencies, ci

feat: add CodeQL security analysis to version bump workflow
  .github/workflows/bump-version.yml
Labels: ci

fix: set fetch-depth: 0 for full git history in version bump
  .github/workflows/bump-version.yml
Labels: ci

commit: refactor: update version bump workflow to use pull requests instead of direct push
  .github/workflows/bump-version.yml
Labels: ci

chore: standardize version prefix and remove redundant push in bump workflow
  .github/workflows/bump-version.yml
Labels: ci

ci: new release workflow and remove bump-version
  .github/workflows/bump-version.yml
  .github/workflows/release.yml
Labels: ci

ci: new release workflow
  .github/workflows/bump-version.yml
  .github/workflows/release.yml
Labels: ci

ci: new release workflow (#25)
  .github/workflows/bump-version.yml
  .github/workflows/release.yml
Labels: ci

ci: add workflow_dispatch trigger
  .github/workflows/release.yml
Labels: ci

ci: remove @latest from build-essential
  .github/workflows/release.yml
Labels: ci

refactor: switch to direct apt install and npm-based build setup
  .github/workflows/release.yml
Labels: ci

feat: add node-gyp configure step and update build command
  .github/workflows/release.yml
Labels: ci

feat: update project branding and identity
  LICENSE.md
  README.md
  assets/banner.png
  assets/logo.png
  package.json
Labels: documentation, dependencies

ci: update release workflow
  .github/workflows/release.yml
Labels: ci

docs: Update README and add TODOs for types
  README.md
  src/memory.ts
Labels: typescript, documentation

refactor: Update package config and cleanup native process code
  native/process.cc
  package.json
Labels: native, dependencies

ci: Allow manual dispatch of Release workflow
  .github/workflows/release.yml
Labels: ci

feat: configure automated releases and commit linting
  .commitlintrc
  .github/workflows/release.yml
  .releaserc
  bun.lock
  lefthook.yml
  package.json
Labels: dependencies, ci

ci: trigger release workflow on push to beta branch
  .github/workflows/release.yml
Labels: ci

ci: fix node cache in release workflow
  .github/workflows/release.yml
Labels: ci

chore: update typescript peer dependency range and lockfile
  bun.lock
  package.json
Labels: dependencies

chore: fix typo
  .releaserc
Labels: none

ci: add dependency installation step to release workflow
  .github/workflows/release.yml
Labels: ci

chore(release): 3.7.0-beta.1 [skip ci]
  package.json
Labels: dependencies

Notes added by 'git notes add'
  b0bc62ea7df7f83d97c2336b11457f255ee421cd
Labels: none

Update README.md
  README.md
Labels: documentation

docs: improve README warning/note visibility with emojis
  README.md
Labels: documentation

chore(release): 1.0.0-beta.1 [skip ci]
  package.json
Labels: dependencies

Notes added by 'git notes add'
  7351eb816904c1abd3509653e0f4a6e270321eae
Labels: none

chore: update ignore files
  .gitignore
  .npmignore
Labels: none

feat: refactor exports and add default export to src/index.ts [skip ci]
  src/index.ts
Labels: typescript

.github/labeler.yml:

typescript:
  - changed-files:
      any-glob-to-any-file: ['**/*.ts']

native:
  - changed-files:
      any-glob-to-any-file: ['native/**/*', 'binding.gyp']

documentation:
  - changed-files:
      any-glob-to-any-file: ['README.md', 'docs/**/*']

tests:
  - changed-files:
      any-glob-to-any-file: ['test/**/*']

examples:
  - changed-files:
      any-glob-to-any-file: ['examples/**/*']

build:
  - changed-files:
      any-glob-to-any-file: ['build.ts', 'build/**/*', 'tsconfig.json']

dependencies:
  - changed-files:
      any-glob-to-any-file: ['package.json', 'bun.lock']

config:
  - changed-files:
      any-glob-to-any-file: [
        'config/**/*',
        '.gitignore',
        '.npmignore',
        '.gitattributes',
        'lefthook.yml',
        'biome.json',
        '.github/*',
        '.github/!(workflows)/**/*'
      ]

ci:
  - changed-files:
      any-glob-to-any-file: ['.github/workflows/**/*']
